###### Editor debris ########

*.org
*~
\#*

# spyder
.spyderproject/

# pycharm
**/.idea/

###### Python debris ########

*.pyc


###### Impl. specific debris ########

*.log

# tensorflow
*events.out.tfevents*

# waf/maf
.waf*
.lock*
**/build/
wscript*.py

###### Work routines debris ########

work
result
.python-version
joblib/
.ipynb_checkpoints/
function_names.txt
function_name_wordcloud.png
sentence_piece.model
sentence_piece.vocab
repos*/